
<h2>Archive - {{archiveName}}</h2>

<h4 class="mt-2">Details</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each details}}
        <tr>
            <th>{{@key}}</th>
            <td>{{{printKeyValue this}}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h4>Start Replay</h4>
<form method="post" action="/event-bridge/start-replay">
    <input type="text" name="archiveName" value="{{archiveName}}" style="display: none;" />

    
    <div class="mb-3">
        <label for="replayName" class="form-label">Replay Name</label>
        <input type="text" class="form-control" id="replayName" name="replayName">
    </div>

    <div class="mb-3">
        <label for="sourceArn" class="form-label">Source ARN</label>
        <input type="text" class="form-control" id="sourceArn" name="sourceArn" value="{{details.ArchiveArn}}">
    </div>
    <div class="mb-3">
        <label for="destinationArn" class="form-label">Destination ARN</label>
        <input type="text" class="form-control" id="destinationArn" name="destinationArn" value="{{details.EventSourceArn}}">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>