<div class="mb-4">

  <div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold">{{hero.title}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{hero.details}}</p>
    </div>
    <p class="lead">Click <a class="link-primary text-decoration-none" href="{{configureLink}}">here</a> to change configuration.</p>
  </div>

  <div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      {{#each cards}}
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="bi bi-{{bicon}}" width="1em" height="1em"></i>
        </div>
        <div>
          <h2>{{title}}</h2>
          <p class="text-muted">{{subtitle}}</p>
          <p>{{description}}</p>
          <a href="{{link}}" class="icon-link">
            Explore
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>