<h2>Details - {{functionName}} - <span
        class="badge rounded-pill bg-{{#ifEq details.Configuration.State 'Active'}}success{{else}}danger{{/ifEq}}">{{details.Configuration.State}}</span>
</h2>


<a href="/lambda/remove?name={{functionName}}" role="button" class="btn btn-outline-danger">Delete</a>
<a href="/lambda/publish?name={{functionName}}" class="btn btn-outline-success" role="button">Publish</a>


<ul class="mt-2 nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{#ifEq tab 'details'}}active{{/ifEq}}" href="?tab=details&name={{functionName}}">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifEq tab 'invoke'}}active{{/ifEq}}" href="?tab=invoke&name={{functionName}}">Invoke</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifEq tab 'update'}}active{{/ifEq}}" href="?tab=update&name={{functionName}}">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifEq tab 'aliases'}}active{{/ifEq}}" href="?tab=aliases&name={{functionName}}">Aliases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifEq tab 'event-source-mapping'}}active{{/ifEq}}" href="?tab=event-source-mapping&name={{functionName}}">Event Source Mapping</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#ifEq tab 'function-urls'}}active{{/ifEq}}" href="?tab=function-urls&name={{functionName}}">Function URLs</a>
    </li>
</ul>

{{#ifEq tab 'invoke'}}
<h4 class="mt-2">Invoke</h4>
<form method="post" action="/lambda/invoke">

    <input type="text" value="{{functionName}}" name="name" style="display: none;" />
    <div class="mb-3">
        <label for="payload" class="form-label">Payload</label>
        <input type="text" class="form-control" id="payload" name="payload">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Invoke</button>
</form>
{{/ifEq}}

{{#ifEq tab 'update'}}
<h4 class="mt-2">Update Function Code:</h4>
<form method="post" action="/lambda/update-function-code">
    <input type="text" value="{{functionName}}" name="functionName" style="display: none;" />

    <div class="mb-3">
        <label for="s3Bucket" class="form-label">Bucket</label>
        <input type="text" class="form-control" id="s3Bucket" name="s3Bucket">
    </div>
    <div class="mb-3">
        <label for="s3Key" class="form-label">Key</label>
        <input type="text" class="form-control" id="s3Key" name="s3Key">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Update</button>
</form>
{{/ifEq}}

{{#ifEq tab 'aliases'}}
<h4 class="mt-2">Create Alias:</h4>
<form method="post" action="/lambda/alias">
    <input type="text" value="{{functionName}}" name="functionName" style="display: none;" />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="functionVersion" class="form-label">Function Version</label>
        <input type="text" class="form-control" id="functionVersion" name="functionVersion">
    </div>

    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>

<h4 class="mt-2">Aliases:</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">FunctionVersion</th>
            <th scope="col">Description</th>
            <th scope="col">AliasArn</th>
            <th scope="col">RevisionId</th>
        </tr>
    </thead>
    <tbody>
        {{#each Aliases}}
        <tr>
            <th>
                <a href="/lambda/delete-alias?name={{Name}}&functionName={{../functionName}}"
                    class="btn btn-outline-danger" type="button">Delete</a>
            </th>
            <th scope="row">{{Name}}</th>
            <td>{{FunctionVersion}}</td>
            <td>{{Description}}</td>
            <td>{{AliasArn}}</td>
            <td>{{RevisionId}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}

{{#ifEq tab 'details'}}
<h4 class="mt-2">Details:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each details}}
        <tr>
            <th>{{@key}}</th>
            <td>{{{printKeyValue this}}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}


{{#ifEq tab 'event-source-mapping'}}
<h4 class="mt-2">Event Srouce Mapping</h4>
<p>This feature is under construction</p>
<p>Comming Soon...</p>
{{/ifEq}}

{{#ifEq tab 'function-urls'}}
<h4 class="mt-2">Function URLs</h4>
<form method="post" action="/lambda/create-function-url">
    <input type="text" value="{{functionName}}" name="functionName" style="display: none;" />

    <div class="mb-3">
        <label for="authType" class="form-label">Auth Type</label>
        <select class="form-select" id="authType" name="authType">
            {{#each authTypesOptions}}
                <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </div>

    <div class="mb-3">
        <label for="InvokeMode" class="form-label">Invoke Mode</label>
        <select class="form-select" id="InvokeMode" name="InvokeMode">
            {{#each invokeModeOptions}}
                <option value="{{value}}">{{label}}</option>
            {{/each}}
        </select>
    </div>


    <button class="btn btn-outline-secondary" type="reset">Reset</button>
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Function Url</th>
            <th scope="col">Function Arn</th>
            <th scope="col">Creation Time</th>
            <th scope="col">Last Modified Time</th>
            <th scope="col">Auth Type</th>
        </tr>
    </thead>
    <tbody>
        {{#each FunctionUrlConfigs}}
        <tr>
            <th>
                <a href="/lambda/delete-function-url?functionName={{../functionName}}"
                    class="btn btn-outline-danger" type="button">Delete</a>
            </th>
            <th>{{FunctionUrl}}</th>
            <td>{{FunctionArn}}</td>
            <td>{{CreationTime}}</td>
            <td>{{LastModifiedTime}}</td>
            <td>{{AuthType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}
