
<h2>Invoke Result</h2>

<p>Execution Version: {{ExecutedVersion}}</p>
<p>Function Error: {{FunctionError}}</p>
<p>Log Result: {{LogResult}}</p>
<p>Status Code: {{StatusCode}}</p>
<pre>{{payload}}</pre>

