
<h2>Bucket Details - {{name}}</h2>

<a href="/s3/bucket-policy?bucket={{name}}" role="button" class="btn btn-outline-primary" >Bucket Policy</a>
<a href="/s3/bucket-versioning?bucket={{name}}" role="button" class="btn btn-outline-primary" >Bucket Versioning</a>
<a href="/s3/bucket-cors?bucket={{name}}" role="button" class="btn btn-outline-primary" >Bucket Cors</a>
<a href="/s3/create-website?bucket={{name}}" role="button" class="btn btn-outline-success" >Create Website</a>
<a href="/s3/bucket-notifications?bucket={{name}}" role="button" class="btn btn-outline-success" >Bucket Notifications</a>

<a href="http://{{name}}.s3-website.localhost.localstack.cloud:4566" target="_blank" role="button" class="btn btn-outline-secondary">Goto Website</a>


<div class="search-box mt-2">
  <form method="get">
     <input type="text" name="name" value="{{name}}" style="display: none;" />

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Key" name="search" />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>

  </form>
</div>

<form method="post" action="/s3/upload" enctype="multipart/form-data" >
    <input type="text" name="bucket" value="{{name}}" style="display: none;" />

    <div class="mb-3">
        <label for="key" class="form-label">Key (optional)</label>
        <input type="text" class="form-control" id="key" name="key">
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">Upload File</label>
        <input class="form-control" type="file" id="formFile" name="file">
    </div>

    <button class="btn btn-outline-success" type="submit">Upload</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Actions</th>
      <th scope="col">Key</th>
      <th scope="col">Last Modified</th>
      <th scope="col">ETag</th>
      <th scope="col">Size</th>
      <th scope="col">Storage Class</th>
    </tr>
  </thead>
  <tbody>
    {{#each Contents}}
    <tr>
      <td>
        <div class="d-flex">
          <a href="/s3/object/delete?bucket={{../name}}&key={{Key}}" type="button" class="btn btn-outline-danger me-1">Delete</a>
          <a href="/s3/object/download?bucket={{../name}}&key={{Key}}" type="button" class="btn btn-outline-success">Download</a>
        </div>
      </td>
      <th scope="row">
        <a href="/s3/object?bucket={{../name}}&key={{Key}}">{{Key}}</a>
      </th>
      <td>{{LastModified}}</td>
      <td>{{ETag}}</td>
      <td>{{toSize Size}}</td>
      <td>{{StorageClass}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
