
<h2>Object Details</h2>

<a href="/s3/object/download?bucket={{bucket}}&key={{key}}" class="btn btn-outline-success">Download 🥳</a>
<a href="/s3/presigned-get?bucket={{bucket}}&key={{key}}" class="btn btn-outline-primary">Generate Presigned Get</a>
<a href="/s3/presigned-put?bucket={{bucket}}&key={{key}}" class="btn btn-outline-primary">Generate Presigned Put</a>

<h4 class="mt-2">S3 Pointer</h4>
<p>{{bucket}}/{{key}}</p>

<h4>Attributes</h4>
<pre>{{json attributes 2}}</pre>


<h4>Update Object</h4>
<form method="post" action="/s3/upload" enctype="multipart/form-data" >
    <input type="text" name="bucket" value="{{bucket}}" style="display: none;" />
    <input type="text" name="key" value="{{key}}" style="display: none;" />

    <div class="mb-3">
        <label for="formFile" class="form-label">Upload File</label>
        <input class="form-control" type="file" id="formFile" name="file">
    </div>

    <button class="btn btn-outline-success" type="submit">Update</button>
</form>

<h4 class="mt-2">Versions:</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Key</th>
            <th scope="col">Version Id</th>
            <th scope="col">Size</th>
            <th scope="col">Is Latest</th>
            <th scope="col">ETag</th>
            <th scope="col">Storage Class</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
        {{#each Versions}}
        <tr>
            <th>
                <a href="/s3/object/delete?bucket={{../bucket}}&key={{Key}}&versionId={{VersionId}}" class="btn btn-outline-danger" type="button">Delete</a>
            </th>
            <th scope="row">
                {{Key}}
            </th>
            <td>{{VersionId}}</td>
            <td>{{Size}}</td>
            <td>{{IsLatest}}</td>
            <td>{{ETag}}</td>
            <td>{{StorageClass}}</td>
            <td>{{LastModified}}</td>
            <td>{{json Owner 2}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
