
<h2>Table Details - {{table}}</h2>

<a href="/dynamodb/add-table-item?tableName={{table}}" role="button" class="btn btn-outline-primary">Add Item</a>

<ul class="mt-2 nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#ifEq tab 'items'}}active{{/ifEq}}" href="?tab=items&table={{table}}">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEq tab 'details'}}active{{/ifEq}}" href="?tab=details&table={{table}}">Details</a>
  </li>
</ul>

{{#ifEq tab 'items'}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            {{#each columns}}
                <th scope="col">{{title}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <th>
                <div class="d-flex">
                    <a href="/dynamodb/delete-item?table={{../table}}&key={{json (olookup this "id") 0}}" class="btn btn-outline-danger me-1" type="button">Delete</a>
                    <a href="/dynamodb/view-item?table={{../table}}&key={{json (olookup this "id") 0}}" class="btn btn-outline-info" type="button">View</a>
                </div>
            </th>
            {{#each ../columns}}
                <td>{{olookup ../this this.accessor}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}

{{#ifEq tab 'details'}}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each details}}
        <tr>
            <th>{{@key}}</th>
            <td>{{{printKeyValue this}}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}
