
<h2>Key Details - {{keyId}}</h2>

<a role="button" href="/kms/encrypt-decrypt?keyId={{keyId}}" class="btn btn-outline-primary">Encrypt Decrypt</a>

<ul class="mt-2 nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#ifEq tab 'details'}}active{{/ifEq}}" href="?tab=details&keyId={{keyId}}">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEq tab 'create-alias'}}active{{/ifEq}}" href="?tab=create-alias&keyId={{keyId}}">Create Alias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEq tab 'aliases'}}active{{/ifEq}}" href="?tab=aliases&keyId={{keyId}}">Aliases</a>
  </li>
</ul>

{{#ifEq tab 'details'}}
<h4 class="mt-2">Details: </h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each KeyMetadata}}
        <tr>
            <th>{{@key}}</th>
            <td>{{{printKeyValue this}}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}

{{#ifEq tab 'create-alias'}}
<h4 class="mt-2">Create Alias</h4>
<form class="mb-2" method="post" action="/kms/create-alias">

    <input type="text" name="keyId" value="{{keyId}}" style="display: none;" />

    <div class="mb-3">
        <label for="alias" class="form-label">Alias</label>
        <div class="input-group">
            <span class="input-group-text">alias/</span>
            <input type="text" class="form-control" id="alias" name="alias" >
        </div>
    </div>

    <button type="reset" class="btn btn-outline-secondary">Reset</button>
    <button type="submit" class="btn btn-outline-success">Create Alias</button>
</form>
{{/ifEq}}

{{#ifEq tab 'aliases'}}
<h4 class="mt-2">Aliases:</h4>
<table class="table">
        <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Alias Arn</th>
            <th scope="col">Alias Name</th>
            <th scope="col">Target Key Id</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each Aliases}}
        <tr>
            <th>
                <div class="d-flex">
                    <a href="/kms/delete-alias?alias={{AliasName}}" class="btn btn-outline-danger me-1" type="button">Delete</a>
                </div>
            </th>
            <th scope="row">{{AliasArn}}</th>
            <td>{{AliasName}}</td>
            <td>{{TargetKeyId}}</td>
            <td>{{CreationDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/ifEq}}
