
<h2>Secrets List</h2>

<a role="button" href="/secrets-manager/create" class="btn btn-outline-primary">Create Secret</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Kms Key Id</th>
            <th scope="col">Created Date</th>
            <th scope="col">Last Accessed Date</th>
            <th scope="col">Last Changed Date</th>
            <th scope="col">Deleted Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each SecretList}}
        <tr>
            <th>
                <a href="/secrets-manager/remove?secretId={{ARN}}" class="btn btn-outline-danger" type="button">Delete</a>
            </th>
            <th scope="row">
                <a href="/secrets-manager/details?secretId={{ARN}}">{{ARN}}</a>
            </th>
            <td>{{Description}}</td>
            <td>{{KmsKeyId}}</td>
            <td>{{CreatedDate}}</td>
            <td>{{LastAccessedDate}}</td>
            <td>{{LastChangedDate}}</td>
            <td>{{DeletedDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="d-flex justify-content-center mb-2">
{{#if NextToken}}
<a href="?limit={{limit}}&nextToken={{NextToken}}" role="button" class="btn btn-outline-primary">Next Page</a>
{{else}}
<a href="?limit={{limit}}" role="button" class="btn btn-outline-primary">First Page</a>
{{/if}}
</div>
